.TransactionList {
  width: 80%;
  margin: 0 auto;
  font-size: 1.1rem;

  &__Icon {
    width: 24px;
    height: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    & > thead {
      color: #fff;
    }
    & {
      border-collapse: separate;
      border-spacing: 0 0.75rem;
    }
    td,
    th {
      padding: 0 0.5rem;
    }
  }
}

@media screen and (max-width: 660px) {
  .TransactionList {
    font-size: 12px;
    width: 90%;
  }

  .TransactionList table td,
  .TransactionList table th {
    padding: 0 0.2rem;
  }

  .TransactionCard__Icon > img {
    width: 12px;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .TransactionList {
    font-size: 10px;
  }
}
